* {
    border: solid 1px rgba(156, 255, 250, 0.1);
    background-color: #2A2D34;
}

#ricardoTitle {
    font-family: 'Inconsolata', monospace;
    font-size: 35px;
    font-weight: bold;
    color: #E85F5C;
}

.pNavbar {
    font-family: 'Inconsolata', monospace;
    color: #EEC643;
    font-size: 120%;
}

.ricardo {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
    background-color: blue;
}

h1 {
    color: #EEC643;

}

h2 {
    color: blueviolet;
}

p {
    color: #5EB1BF;
}

span {
    color: #E85F5C;
}

#navbar {
    position: sticky;
    top: 1px;
    z-index: 99;

}

#whoamibutton:active {
    color: #E85F5C;
}

#whoamibutton:visited {
    color: #EEC643;
}

#whoamibutton:hover {
    color: #5EB1BF;
}

#bodyOfTheWebsite {
    scroll-padding-top: 100px;
}

#whoami {
    padding-top: 100px;
}

#personalprojects {
    padding-top: 100px;
}

#moreinfo {
    padding-top: 100px;
}

#navbarBG {
    -webkit-animation: 3s slidein;
    padding: 10px;
}

.navbaritem {
    position: relative;
    display: inline-block;
}